NASA_API_KEY=your_nasa_key_here
OPENWEATHER_API_KEY=your_openweather_key_here
NEWS_API_KEY=your_newsapi_key_here
SUPERMAG_USERNAME=your_supermag_username
APNS_TEAM_ID=your_apple_team_id
APNS_KEY_ID=your_apns_key_id
APNS_BUNDLE_ID=com.gaiaeyes.GaiaExporter
APNS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
